*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

li{
    color: rgb(255, 228, 228);
    font-size: 3rem;
    list-style: none;
    display: inline-block;
    margin: 1.5rem;
    background-color: rgb(28, 25, 209);
    border-radius: 1em;
    padding: 0.5em;
}
header{
    height: 25vh;
    background-color:rgba(0, 0, 0, 0.973);
}
figure, nav{
    display: inline-block;
}
figure{
    margin: 1.5rem;
    font-size: 2rem;
}
nav{
    position: absolute;
    right: 1.5rem;
    top: 50px;
}
main{
    height: 80vh;
}

footer{
    height: 10vh;
    background-color: rgb(130, 131, 155);
}

aside, section{
    display: inline-block;
    height: 80vh;
}

aside{
    width: 20vw;
    background-color: rgb(3, 6, 32);
}

aside div{
    color: white;
    font-size: 2rem;
    height: 15vh;
    margin: 3vh;
    background-color:rgb(223, 221, 215);
}

section{
    
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 20vw;
    width: 80vw;
    padding: 1rem;
    background-color: rgb(91, 94, 91);
}

.footer-social, .footer-info{
    color: white;
    font-size: 2rem;
    display: inline-block;
    margin: 1.5rem;
}

.footer-info{
    position: absolute;
    right: 1.5rem;
}

.imglogo{

    height: 80px;
    width: 100px;
    margin-left: 80px;
    
}
.labelNota{
    color: black;
    margin-left: 2px;
    padding: 2px;
    
}

input{
    margin-left: 1em;
    margin-top: 1.45em;
}
h1{
    text-align: center;
    padding: 0.5em;
    color:white ;
}
button{
    margin-left: 70px;
    margin-top: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5em;
    background-color: rgb(130, 133, 132);
    font-size: 2em;
    padding: 5px;
}

.divResulatdo{
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.747);

}