*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

li{
    color: rgb(20, 2, 2);
    font-size: 3rem;
    list-style: none;
    display: inline-block;
    margin: 1.5rem;
}

header{
    height: 10vh;
    background-color:rgba(13, 193, 224, 0.664);
}

figure, nav{
    display: inline-block;
}

figure{
    margin: 1.5rem;
    font-size: 2rem;
}

nav{
    position: absolute;
    right: 1.5rem;
}

main{
    height: 80vh;
}

footer{
    height: 10vh;
    background-color: rgb(0, 2, 128);
}

aside, section{
    display: inline-block;
    height: 80vh;
}

aside{
    width: 20vw;
    background-color: rgb(93, 64, 224);
}

aside div{
    color: white;
    font-size: 2rem;
    height: 15vh;
    margin: 3vh;
    background-color:rgb(235, 180, 0);
}

section{
    image-rendering: auto;
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 20vw;
    width: 80vw;
    padding: 1rem;
    background-color: rgb(25, 163, 12);
}

.footer-social, .footer-info{
    color: white;
    font-size: 2rem;
    display: inline-block;
    margin: 1.5rem;
}

.footer-info{
    position: absolute;
    right: 1.5rem;
}
